.change-password{
    max-width: 1280px;
    padding: 25px;
    margin: 0 auto;
    .change-password-header{
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: 15px;
        font-weight: 400;
        padding: 0;
        margin: 0;
        .home-icon{
            font-size: 17px;
            color: #666;
            cursor: pointer;
        }
    }
    .change-password-container{
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 15px;
        margin-top: 30px;
        .change-password-item{
            label{
                font-size: 14px;
                padding: 0;
                margin: 0;
            }
            .input-container{
                position:  relative;
                input{
                    width: 100%;
                    border: 1px solid #ddd;
                    outline: none;
                    margin-top: 5px;
                    height: 40px;
                    padding: 0 12px;
                    border-radius: 4px;
                    &:focus{
                        font-weight: 600;
                        border: 1px solid #ef4a23;;
                    }
                }
                .show-password-btn{
                    background-color: transparent;
                    padding: 4px;
                    border-radius: 50%;
                    position: absolute;
                    right: 12px;
                    top: 25%;
                    z-index: 2;
                    cursor: pointer;
                    transition: all 0.1s ease;
                    &:hover{
                        background-color: #ddd;
                    }
                }
            }
            
        }
    }
    .update-btn{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin-top: 20px;
        button{
            background-color: transparent;
            color: #3749bb;
            border: 2px solid #3749bb;
            width: fit-content;
            padding: 0 20px;
            height: 40px;
            font-weight: 600;
            border-radius: 4px;
            transition: all 0.3s ease;
            &:hover{
                background-color: #3749bb;
                color: white;
            }
        }
    }
}
@media screen and (min-width : 1290px) {
    .change-password{
        padding: 25px 0;
    }
}