.category-product{
    max-width: 1280px;
    padding: 30px 25px;
    margin: 0 auto;
    .category-product-header{
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: 14px;
        padding: 12px;
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        .home-icon{
            color: #666;
        }
    }
    .brand-name{
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 4px;
        padding: 12px;
        margin: 20px 0;
        ul {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            width: fit-content;
            gap: 20px;
            padding: 0;
            margin: 0;
            li {
                border: 1px solid #ddd;
                padding: 2px 10px;
                margin: 0;
                cursor: pointer;
                border-radius: 22px;
                transition: all 0.1s ease;
                &:hover{
                    color: white;
                    font-weight: 400;
                    background-color: #3749bb;
                }
            }
        }
        
    }
    .filter-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 4px;
        padding:  12px;
        margin-top: 20px;
        .filter{
            background: rgba(55,73,187,.05);
            display: flex;
            width: fit-content;
            cursor: pointer;
            align-items: center;
            gap: 10px ;
            padding: 6px 12px;
            border-radius: 4px;
        }
        .sort-title{
            padding: 0;
            margin: 0;
        }
        .sort{
            display: flex;
            align-items: center;
            gap: 8px;
            position: relative;
            .sort-container{
                background: rgba(55,73,187,.05);
                display: flex;
                width: fit-content;
                cursor: pointer;
                align-items: center;
                gap: 4px ;
                padding: 6px 12px;
                border-radius: 4px;
                p{
                    margin: 0;
                    padding: 0;
                    font-size: 13px;
                    font-weight: 60;
                }
                .icon{
                    font-size: 20px;
                    margin-left: 20px;
                }
            }
            .price-sort{
                position: absolute;
                background-color: white;
                border-radius: 6px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                width: 100%;
                height: fit-content;
                top: 50px;
                border: 1px solid #ddd;
                padding: 5px;
                right: -13px;
                ul{
                    padding: 0;
                    margin: 0;
                    li{
                        padding: 6px;
                        margin: 0;
                        cursor: pointer;
                        &:hover{
                            background: rgba(55,73,187,.05);
                        }
                    }
                }
            }
        }
    }
    .products{
        display: flex;
        gap: 20px;
        justify-content: space-between;
        aside{
            display: none;
        }
        .products-container{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(1 , minmax(0, 1fr));
            gap: 20px;
            .category-product{
                background-color: white;
                cursor: pointer;
                border-radius: 4px;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                .img-container{
                    width: 150px;
                    margin: 0 auto;
                    img{
                        object-fit: fill;
                        width: 150px;
                        height: 150px;
                    }
                }
            }
        }
    }
}

.filterContainer, 
.drawer{
    background-color: #f2f4f8;
}
.filterDivider{
    margin-top: 15px;
    width: 100%;
    background-color: #eee;
    height: 2px;
}
.rangeContainer{
    background-color: white;
}
.ant-slider-track{
    background-color: #EF4A23 !important;
    height: 10px !important;
}
.ant-slider-rail{
    height: 10px !important;
}
.ant-slider-handle{
    position: absolute;
    width: 20px !important;
    height: 20px !important;
    background-color: #EF4A23 !important;
    border: 2px solid #91d5ff !important;
    border-radius: 50%;
    box-shadow: 0;
    cursor: pointer;
    transition: border-color .3s,box-shadow .6s,transform .3s cubic-bezier(.18,.89,.32,1.28);
}
.availability{
    background-color: white;
    border-radius: 6px;
    box-shadow:  0 1px 1px rgb(0 0 0 / 10%);
}



@media screen and (min-width : 1290px) {
    .category-product{
        padding: 30px 0 ;
    }
}

@media screen and (min-width : 1201px) {
    .category-product{
        .products{
            .products-container{
                grid-template-columns: repeat(4, minmax(0, 1fr));
            }
        }
    }
}

@media screen and (min-width : 1024px) and (max-width : 1200px) {
    .category-product{
        .products{
            .products-container{
                grid-template-columns: repeat(3, minmax(0, 1fr));
            }
        }
    }
}

@media screen and (min-width : 1024px) {
    .category-product{
        .filter-container{
            display: none;
        }
        .products{
            aside{
                display: block;
                width: 20%;
            }
        }
    }
}
@media screen and (min-width : 768px) and (max-width : 1023px) {
    .category-product{
        .products{
            .products-container{
                grid-template-columns: repeat(3, minmax(0, 1fr));
            }
        }
    }
}

@media screen and (min-width : 580px) and (max-width : 767px) {
    .category-product{
        .products{
            .products-container{
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }
        }
    }
}
@media screen and (max-width : 579px) {
    .category-product{
        .products{
            .products-container{
                .category-product{
                    max-width: 300px;
                }
            }
        }
    }
}
@media screen and (max-width : 340px) {
    .category-product{
        .filter-container{
            flex-direction: column;
            gap: 20px;
        }
    }
}