.navbar{
    background-color: #081621;
    position: sticky;
    top: 0;
    z-index: 10;
    .navbar-container{
        max-width: 1280px;
        padding: 12px 25px;
        margin: 0 auto;
        position: sticky;
        top: 0;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .brand{
            img{
                cursor: pointer;
                width: 95px;
            }
        }
        .search-container{
            visibility: hidden;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 50%;
            background-color: white;
            border-radius: 4px 4px 4px 4px;
            input{
                width: 100%;
                padding: 6px 0px 6px 15px;
                border: none;
                outline: none;
                background-color: transparent;
            }
            button{
                font-size: 18px;
                padding: 6px 12px ;
            }
        }
        .option-container{
            display: flex;
            align-items: center;
            gap: 20px;
            .mobile-search-btn{
                display: block;
            }
            .cart-container{
                position: relative;
                .cart-counter{
                    background-color: #ef4a23;
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    text-align: center;
                    color: white;
                    position: absolute;
                    top: -8px;
                    left: 12px;
                    font-size: 13px;
                    
                }
            }
        }
    }
    .mobile-search{
        overflow-x: hidden;
        position: absolute;
        box-shadow: 0px 15px 10px -15px #111; 
        width: 100%;
        left: 0;
        z-index: 1;
        background-color: white;
        .mobile-search-container{
            border: 1px solid #ddd;
            max-width: 1280px;
            margin: 0 auto;
            padding: 8px 25px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            input{
                width: 100%;
                // padding: 6px 0px 6px 15px;
                border: none;
                outline: none;
                background-color: transparent;
            }
            button{
                font-size: 18px;
                // padding: 6px 12px ;
            }
        }
        
    }
}
.drawer-header{
    background-color: #081621;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 66px;
    .cartCloseBtn{
        background-color: #ef4a23;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: white;
        font-size: 20px;
        font-weight: 900;
        cursor: pointer;
    }
}
.drawer-body{
    height: calc(100vh - 66px);
    .empty-cart-container{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .empty-cart-icon{
            padding: 20px;
            background: rgba(55,73,187,.1);
            color: #3749bb;
            border-radius: 50px;
            width: 88px;
            height: 88px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }
    }
    .cart-products{
        .cart-products-container{
            display: flex;
            flex-direction: column;
            gap: 15px; 
            padding: 0 10px;
            .cart-product{
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid #ddd;
                padding: 8px 0;
                gap: 12px;
                img{
                    width: 50px;
                }
                .product-info{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    h1{
                        font-size: 13px;
                        margin: 0;
                        padding: 0;
                        font-weight: 700;
                    }
                    .btn-container{
                        width: 100px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        border: 1px solid #eee;
                        border-radius: 4px;
                        button{
                            font-size: 13px;
                            padding: 4px 12px;
                            font-weight: 700;
                        }
                    }
                    .close-icon{
                        background-color: rgb(254 226 226);
                        color: #ef4a23;
                        width: 30px;
                        height: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        font-size: 18px;
                    }
                }
            }
        }
        .bottom-bar{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            .promo-code{
                background-color: #ebecf8;
                display: flex;
                align-items: center;
                gap: 20px;
                padding: 8px 12px;
                input{
                    width: 100%;
                    height: 33px;
                    padding: 0 8px;
                    border: none;
                    outline: none;
                    border-radius: 4px;
                }
                button{
                    background-color: #3749bb;
                    height: 33px ;
                    color: white;
                    padding: 0 22px;
                    border-radius: 4px;
                }
            }
            .total-price{
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid #ddd;
                padding: 8px 12px;
                .price-name{
                    padding: 0;
                    margin: 0;
                    color: #808080;
                }
                .price{
                    font-weight: 600;
                    padding: 0;
                    margin: 0;
                }
            }
            .checkout-btn{
                width: 100%;
                position: relative;
                height: 40px;
                background-color: #ef4a23;
                color: white;
                font-weight: 400;
                .overlay{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 0;
                    background-color: rgba(17, 17, 17, 0.4);
                    transition: height 0.2s ease;
                    p{
                        text-align: center;
                        margin-top: 9px;
                        padding: 0;
                    }
                }
                &:hover .overlay{
                    height: 40px;
                    color: white;
                }
            }
        }
    }
}

@media screen and (min-width: 1290px) {
    .navbar{
        .navbar-container{
            padding: 12px 0;
        }
    }
}

@media screen and (min-width: 768px) {
    .navbar{
        .navbar-container{
            .search-container{
                visibility: visible;
            }
            .option-container{
                .mobile-search-btn{
                    display: none;
                }
            }
        }
        .mobile-search{
            display: none;
        }
    }
}