.seo-content{
    margin-top: 70px;
    h1{
        font-weight: bold;
        font-size: 18px;
        margin: 20px 0 12px 0;
        padding: 0;
        font-family: 'Trebuchet MS', sans-serif;
    }
    p{
        margin-bottom: 8px;
        padding: 0;
        font-size: 15px;
        color: #01132d;
        line-height: 26px;
    }
}