.addressContainer .addressCard{
    height: 42px;
    border: 1px solid #eee;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 3%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    font-size: 14px;
    color: #666;
    padding: 0 6px;
    transition: box-shadow 0.3s ease;
}
.addressContainer h1{
    font-size: 22px;
    margin-bottom: 20px;
}
.addressContainer .addressCard:hover{
    /* box-shadow: 15px 15px 15px rgb(0 0 0 / 3%); */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.addressContainer .addressCard .icon{
    font-size: 20px;
    cursor: pointer;
}
.createBtn{
    height: 42px;
    border: 1px solid #eee;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 3%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-size: 14px;
    color: #666;
    transition: box-shadow 0.3s ease;
    
}
.createBtn:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}