.container{
    overflow-x: hidden;
    padding-top: 30px;
}
.carousel img{
    width: 100%;
    height: 100%;
}
.compareBtn{
    color: #3749bb;
    border: 2px solid #3749bb;
    padding: 7px 0;
    transition: all .6s ease-in-out,
}
.compareBtn:hover{
    background-color: #3749bb;
    color: white;
}
.inputItem {
    display: flex;
    background-color: #fff;
    padding: 8px;
}
.inputItem button{
    padding: 0 6px;
}
.inputItem input{
    width: 100%;
    border: none;
    outline: none;
}