.headerContainer{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 13px;
    padding: 13px 0 25px 0;
}
.headerContainer .headerLocation{
    color: #666;
    cursor: pointer;
}
.shareContainer{
    border:1px solid #ddd;
    border-radius: 22px;
    padding: 12px 15px;
}
.shareContainer .shareBtn{
    font-size: 16px;
    cursor: pointer;
}
.shareContainer .shareBtn:hover{
    color: #ef4a23;
}
.compareContainer {
    display: flex;
    border: none;
    gap: 12px;
}
.compareContainer .comBtn{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color: black;
}
.compareContainer .comBtn:hover{
    color: #ef4a23;
}

.productContainer .priceContainer{
    background: rgba(55,73,187,.05);
    border-radius: 30px;
    padding: 6px 8px;
    font-size: 14px;
    text-align: center;
    max-width: max-content;
}
.productContainer .priceContainer .criteria{
    font-size: 12px;
    color: #666;
}
.productContainer .priceContainer .value{
    font-weight: bold;
    font-size: 12px;
}
.details{
    padding-top: 18px;
}
.pointContainer {
    display: flex;
    align-items: center;
    gap: 13px;
    background-color: #fef4f4;
    padding: 15px 30px;
    max-width: fit-content;
    border-radius: 30px;
    margin-bottom: 25px;
}
.pointContainer .price{
    font-size: 18px;
    font-weight: bold;
}
.pointContainer .point{
    font-size: 13px;
    font-weight: 500;
}
.pointContainer .icon{
    background-color: #e5330b;
    color: white;
    height: 30px;
    width: 30px;
    font-size: 20px;
    padding: 6px;
    border-radius: 50%;
    padding: 4px;
}
.paymentOption{
}
.paymentItem{
    display: flex;
    align-items: center;
    gap: 13px;
    border: 2px solid #edf2f5;
    
}
.paymentItem .input{
    background-color: #fafafa;
    height: 100%;
    padding: 30px 15px;
}
.paymentItem:hover{
    border: 2px solid #3749bb;
}
.buyBtn{
    max-width: max-content;
    background-color: #3749bb;
    color: white;
    font-weight: bold;
    padding: 0 25px;
    border-radius: 4px;
}
.countContainer{
    border: 1px solid #ddd;
    height: 40px;
}
.countContainer input{
}
.countContainer .minusBtn{
    border-right: 1px solid #ddd;
    padding: 0 15px;
}
.countContainer .plusBtn{
    border-left: 1px solid #ddd;
    padding: 0 15px;
}
.reviewBtn{
    border: 2px solid #3749bb;
    padding: 8px 20px;
    max-width: max-content;
    border-radius: 4px;
    font-weight: bold;
    transition: 0.3s ease;
}
.reviewBtn:hover{
    background-color: #3749bb;
    color: white;
}
.reviewIcon{
    padding: 20px;
    background: rgba(55,73,187,.1);
    color: #3749bb;
    border-radius: 50px;
    font-size: 48px;
    width: 88px;
    height: 88px;
}
.review input{
    width: 100%;
    height: 40px;
    outline: none;
    padding: 0 6px;
    border: 1px solid #ddd;

}
.orderBtn, .cartBtn{
    width: max-content;
    padding: 8px 14px;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 4px;

}
.orderBtn{
    border: 2px solid #3749bb;
    color: #3749bb;
    transition: 0.3s ease;
}
.orderBtn:hover{
    background-color: #3749bb;
    color: white;
}
.cartBtn{
    background-color: #3749bb;
    color: white;
    margin-right: 15px;
}
.cartCriteria{
    color: #888897;
}
.cartValue{
    font-weight: bold;
    color: #111;
    font-size: 15px;
}