.cardContainer  h1{
    font-weight: bold;
    font-size: 18px;
    margin: 25px 0 12px;
    font-family: 'Trebuchet MS', sans-serif;
}
.cardContainer p {
    margin-bottom: 10px;
    font-size: 15px;
    color: #01132d;
    line-height: 26px;
}