.cardContainer  h1{
    font-weight: normal;
    font-size: 18px;
    margin: 25px 0 12px;
}
.cardContainer p {
    margin-bottom: 10px;
    font-size: 15px;
    color: #01132d;
    line-height: 26px;
}