.categoryProductContainer{
    background-color: #f2f4f8;
    padding: 0 40px  40px 40px;
}
.singleProduct{
    background-color: white;
    cursor: pointer;
    border-radius: 10px;
    box-shadow:  0 1px 1px rgb(0 0 0 / 10%);
}
.navigate{
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 13px;
    padding: 25px 0 ;

}
.brandName{
    background-color: white;
    border-radius: 10px;
    box-shadow:  0 1px 1px rgb(0 0 0 / 10%);
    padding: 10px;
}
.brandName ul li {
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 30px;
    font-size: 14px;
    cursor: pointer;
    color: #111;
    background-color: transparent;
    transition: all 0.1s ease;
}
.brandName ul li:hover{
    color: white;
    background-color: #3749bb;;
}
.filter{
    background-color: white;
    border-radius: 10px;
    box-shadow:  0 1px 1px rgb(0 0 0 / 10%);
    padding: 10px;
    margin-bottom: 20px;
}
.filterContainer, .sortContainer{
    background: rgba(55,73,187,.05);
    display: flex;
    width: fit-content;
    padding: 2px 10px;
    cursor: pointer;
    align-items: center;
    gap: 4px ;
}
.drawer{
    background-color: #f2f4f8;
}