.navigate{
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 13px;
    padding: 12px 0 50px 0 ;

}
.passwordContainer h1{
    font-size: 20px;
    font-weight: 900;
    color: #3749bb;
    padding-bottom: 5px;
}
.passwordContainer p{
    font-size: 14px;
    padding-bottom: 25px;
}
.passwordContainer .star{
    font-size: 12px;
    padding-left: 1px;
    color: red;
}
.inputContainer input {
    padding: 0 15px;
    border: 1px solid grey;
    outline: none;
    width: 100%;
    font-family: "Trebuchet MS",sans-serif;
    border: 1px solid #ddd;
    margin-top: 5px;
    height: 42px;
    border-radius: 4px;
}
.inputContainer label{
    font-size: 13px;
    font-weight: bold;
}
.passwordBtn{
    width: 100%;
    background-color: #3749bb;
    color: white;
    display: inline-block;
    border: 2px solid #3749bb;
    padding: 0 20px;
    font-size: 14px;
    border-radius: 4px;
    height: 42px;
}