.dashboard{
    background-color: black;
    color: white;
    height: calc(100vh - 56px);
}

.dashboard li{
    margin: 0;
    font-size: 18px;
    padding: 8px 20px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.dashboard li:hover{
    background-color: white;
    color: black;
}