.dashboard{
    background-color: #F2F4F8;
    color: black;
    height: calc(100vh - 56px);
}

.dashboard li{
    margin: 0;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 20px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.dashboard li:hover{
    background-color: white;
    color: black;
}